body{
    background: url("../img/loginbg.jpg") center;
}
#login-form{
    border: 1px solid #686868;
    border-radius:1px;
    margin-top:6rem;
    background-color: #fff;
    padding:2rem;
}
#loginBtn{
    margin-top: 2rem;
}

