main{
    margin-top: 4rem;
}

#poster_img{
    width:100%;
    height:100%;

}
.grey_text{
    color: #aaaaaa;
    font-size:16px;
    margin-left: 1rem;
}
.nick_text{
    color: #007722;
    font-size:18px;
}